@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    padding: 0;
    margin: 0;
    flex-shrink: 0;
    font-weight: normal;
    font-size: 100%;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    color: inherit;
    font-family: inherit;
    list-style: none;
    vertical-align: baseline;
    background: none;
    outline: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: "Rubik", "Helvetica", sans-serif;
}

/* нижче будуть стилі секції modal (секція Олега) */



/* нижче будуть стилі секції timer (секція Олега) */



/* нижче будуть стилі секції header (секція Назара) */



/* нижче будуть стилі секції editions (секція Макара) */



/* нижче будуть стилі секції controller (секція Макара) */



/* нижче будуть стилі секції trailer (секція Міші) */ 


  
  .trailer-hero-section {
    position: relative;
    width: 1920px;
    height: 944.31px;
    background-image: url('/project/assets/images/trailer-bg.png'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .trailer-hero-section::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 1;
  }
  
  .trailer-content {
    position: relative;
    z-index: 2;
    color: white;
    margin-left: 50px;
  }
  
  .trailer-hero-title {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 39px;
    letter-spacing: 0;
    margin-bottom: 20px;
    margin-top: 67px;
    
  }
  
  .trailer-play-button {
    padding: 9.3px 33.83px;
    font-size: 15px;        
    background-color: #30373F;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    top: 5px;
  }
  

  
/* нижче будуть стилі секції series (секція Марка) */



/* нижче будуть стилі секції news (секція Даші) */



/* нижче будуть стилі секції faq + footer (секція Міші) */